div.container
{
margin:12%;
border:1px solid gray;
line-height:50%;
}
.c
{
float:right
}
.a
{
float:left;
}
div.left
{
float:left;
width:450px;
margin:25px;
padding:1em;
}
div.right
{
margin-top:75px;
margin-left:480px;
margin-bottom:75px;
border-left:1px solid gray;
padding:1em;
}
div.header
{
color:white;
background-color:gray;
width:100%;
position:fixed;
padding:0px;
margin:0px;
top:0px;
right:0px;
}
li
{
display:inline;
font-style:italic;
font-size:30px;
margin-top:0px;
margin-bottom:0px;
margin-right:270px;
margin-left:235px;
}
div.footer
{
width:100%;
color:white;
background-color:gray;
position:fixed;
top:96%;
}
